body{ 
	background-color: #18191A;
	color:white;
	font-family: Arial


}
.col-left{
      float:left;
      width:33%;
      top left: no-repeat;
  }
  .col{
  	color: #d3d3d3;
  }

#wrapper{
	max-width:1750px;
}

img{
	border-radius: 2%
}
p{
	font-size: 1.6rem
}
h4{
	color:#7f7f7f;
	font-size: 1.2em
}
footer{
	margin:80px;
}

.col-left{
	/*background:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(167,39,162,1) 0%, rgba(0,212,255,0) 100%),
	url("images/bakecover.jpg") top left no-repeat; */
	
	height:600px;
	padding:2em;
}

#page-header p{
	color:#fff;
	width:50em;
}
.btn{
	display: inline-block;
	border:solid 2px white;
	width: 200px;
	height:96px;
	color: white;
	text-decoration: none;
	font-size: 2.5em;
	text-align: center;
	padding-top: 10px;
	border-radius: 10px;
	margin-right: 50px;
}
.btn2{
	display: inline-block;
	border:solid 2px white;
	width: 310px;
	height:96px;
	color: white;
	text-decoration: none;
	font-size: 2.5em;
	text-align: center;
	padding-top: 10px;
	border-radius: 10px;
	margin-right: 50px
}
.btn3{
	display: inline-block;
	border:solid 2px white;
	width: 285px;
	height:96px;
	color: white;
	text-decoration: none;
	font-size: 2.5em;
	text-align: center;
	padding-top: 10px;
	border-radius: 10px;
}


.btn:hover{
	background-color: #855288;
	color: white;
	
}
.btn2:hover{
	background-color: #855288;
	color: white;
}
.btn3:hover{
	background-color: #855288;
	color: white;
}

.btn_play{
	background: url("images/play_arrow.svg") center left no-repeat;
}
.cred {
	color: #855288;

}
em{
	color:white;
}


nav{
	
	padding:0.3em;
}

nav li{
	display:inline;
	margin-right:2em;
}

nav li a{
	color:#000;
	text-decoration: underline;
}

nav li a:hover{
	color:red;
	text-decoration: underline;
}

{
	float:left;
}